* {
  text-decoration: none;
}
.m-left-10 {
    margin-left: 50px;
}
.m-8{
    margin: 6px;
}
.navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
li {
  list-style: none;
  display: inline-block;
}
li a {
  color: #717171;
  font-size: 14px;
  font-family: "Lato";
  margin-right: 25px;
  transition: all ease 0.5s;
}
._h :hover {
    color: #79c0de;
}
