:root {
  --bs-dark-rgb: 33, 37, 41;
}
* {
  font-family: "Lato";
  margin: 0px;
  padding: 0px;
}
.m-left-10 {
  margin-left: 50px;
}
.p-98 {
  padding: 98px 0;
}
.m-6 {
  margin: 6px;
}
.m-3 {
  margin: 3px;
}
.m-left-10 {
  margin-left: 20px;
}
.p-t-5 {
  padding-top: 5px;
}
body{
  background-color: #969EB2;
}
/* loader */
.loader-parent {
  background-color: #151f19;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #fff;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: spin 1s linear infinite;
}

.loader:after {
  color: #45f882;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

/* Loader Complited */
.button{
  display: block;
  padding: 15px 40px;
  font-size: 15px;
  word-spacing: 5px;
  font-weight: 700;
  background-color: #45f882;
  border: none;
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0%);
  transition: 0.2s;
}

.button:hover {
  background-color: white;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%, 0 1%);
}

/* line */
.parentLine{
  display: flex;
}
.line1{
  height: 4px;
  width: 30vw;
  background-color: #FFBE18;
}
.line2{
  height: 4px;
  width: 100vw;
  background-color: #45f882;
}