<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ministore</title>
    <link rel="stylesheet" href="/view/css/style.css" />
    <link rel="stylesheet" href="/view/css/fonts.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>
  <body>
    <div id="navbar"></div>
    <div id="banner">
      <div class="container">
        <div class="banner">
          <div class="row align-center justify-between">
            <div class="size uppercase text-dark font content">
              Technology <br />
              Hack You Won't <br />
              Get <br />
              <button class="uppercase button-b">shop product</button>
            </div>
            <div class="images">
              <img src="./css/images/banner/banner-image.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-center justify-center p-98">
      <div class="row ">
        <div class="row ser-icon" >
          <span><i class="fa-solid fa-cart-shopping"></i></span>
        </div>
        <div class="text">
          <h3>Free delivery</h3>
          <p>Consectetur adipi elit lorem ipsum <br> dolor sit amet.</p>
        </div>
      </div>
      <div class="m-left-10 row"> 
        <div class="row ser-icon" >
          <span><i class="fa-solid fa-medal"></i></span>
        </div>
        <div class="text">
          <h3>Quality guarantee</h3>
          <p>Dolor sit amet orem ipsu mcons <br> ectetur adipi elit.</p>
        </div>
        
      </div>
      <div class="m-left-10 row">
        <div class="row ser-icon" >
          <span><i class="fa-solid fa-tag"></i></span>
        </div>
        <div class="text">
          <h3>Daily offers</h3>
          <p>Amet consectetur adipi elit loreme <br> psum dolor sit.</p>
        </div>  
      </div >
      <div class="m-left-10 p-20 row">
        <div class="row ser-icon"  >
          <span><i class="fa-solid fa-shield-halved"></i></span>
        </div>
        <div class="text">
          <h3>100% secure payment</h3>
          <p>Rem Lopsum dolor sit amet,<br> consectetur adipi elit.</p>
        </div>
       
      </div>
    </div>
  </body>
  <script type="module" src="/view/js/script.js"></script>
</html>
