<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bame</title>
    <link rel="stylesheet" href="/view/css/style.css" />
    <link rel="stylesheet" href="/view/css/fonts.css" />
    <link rel="stylesheet" href="/view/css/btn.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>

  <body>
    <!-- Button -->
    <!-- <button class="button">EXPLORE MORE <i class="fa-solid fa-arrow-right"></i></button> -->
    <div class="loader-parent">
      <span class="loader"></span>
    </div>
    <div class="parentMain">
      <div id="navbar"></div>

      <!-- First Section After Navbar -->
      <!-- <div class="parentLine">
      <div class="line1"></div>
      <div class="line2"></div>
    </div> -->
      <div class="sectionOne">
        <div class="innerParent">
          <h1># World Class ESports & Gaming Site</h1>
          <h2>SHAPING THE FUTURE OF <br /><span>ESPORTS</span></h2>
          <div class="buttons">
            <a href="/contact" class="th-btn th_btn"
              ><i class="fa-brands fa-twitch me-2"></i>Live Streaming</a
            >
            <a href="/contact" class="th-btn th_btn"
            ><i class="fa-brands fa-twitch me-2"></i>Live Streaming</a
          >
          </div>
        </div>
      </div>
      <!-- secondSection -->
      <div class="secondSection">
        <div class="innerParentSecTwo">
          <img src="/view/css/images/hero-1-1.png" alt="" />
          <div>
            <h1>Join The Big Tournaments</h1>
            <p>
              Beyond esports Tournaments, include a broader calendar Of Gaming
              <br />
              events, conferences, and conventions. and connect with each other.
            </p>
            <!-- <div class="button btnsec2">JOIN NOW <i class="fa-solid fa-arrow-right"></i></div> -->
            <button class="button BTNSEC2">
              <body>
                <a href="/contact" class="th-btn th_btn"
                  ><i class="fa-brands fa-twitch me-2"></i>Live Streaming</a
                >
              </body>
            </button>
          </div>
          <img src="/view/css/images/hero-1-2.png" alt="" />
        </div>
      </div>
    </div>
  </body>
  <script type="module" src="/view/js/script.js"></script>
</html>
